.gameSlide {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
}
.overlay .rating {
  color: gold !important;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.backButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: auto 0;
}

.gameInfo {
  display: flex;
  align-items: flex-start;
}

.gameImage {
  width: 400px;
  height: 500px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.gameDetails {
  text-align: left;
  max-width: 1000px;
}
.gameDetails h4 {
  color: rgb(1, 255, 1);
}
.gamePrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.3rem;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container .gamePrice .discount {
  position: absolute;
  background: rgba(210, 210, 10, 0.67);

  padding: 2px 8px;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 800;
  color: #ff0000;
  animation: pulse 1s infinite;
}

.container .gamePrice .prevPrice {
  position: absolute;
  margin-top: 9rem;
  text-decoration: line-through;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 2px;
  font-size: 1rem;
}
.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.addBag {
  text-decoration: none;
  position: absolute;
  /* bottom: 10rem; */
  margin-top: 10rem;
  margin-left: 35rem;
  cursor: pointer;
  color: #ffffff;
  background: green;
  padding: 10px;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 5px 10px 5px;
  font-size: 1.2rem;
  transition: 0.3s;
}
iframe {
  margin-left: 1rem;
  border-radius: 10px;
  width: 720px;
  height: 300px;
}

@media (max-width: 768px) {
  .container {
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .gameInfo {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .gameImage {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }

  .gameDetails {
    position: relative;
    margin: 1rem auto;
    width: 100%;
    text-align: center;
  }
  .gamePrice {
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-bottom: 50px;
  }
  .gamePrice .prevPrice {
    position: absolute;
    margin: 0 auto;
  }

  .container .gamePrice .discount {
    position: relative;
    margin: 1rem auto;
  }

  .addBag {
    position: relative;
    margin: 20px auto;
  }

  .gameSlide iframe {
    width: 90%;
    max-width: 90vw;
    min-height: calc(100vw * 0.5625); /* 16:9 aspect ratio */
    margin-bottom: 5rem;
  }
}
